body{
  background: white;
  color: white;
  font-size: 25px;
  font-family: 'Quicksand';
}
h1{
  text-align: center;
  font-family:'Anton', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}
h2 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}
p {
color: grey;
font-size: 15px;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}
#banner{
  text-align: center;
  background-image: url(http://www.siskelfilmcenter.org/sites/default/files/film-images/runs/pierrotlefou01_0.jpg);
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: black;
  opacity: 0.8;
  font-style: 'Anton', sans serif;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  margin-bottom: 30px;
  font-size:40px;
  background: black;
  color: white;
}
.card{
  text-align: center;
  padding: 50px;
  font-weight: lighter;
}
#footer a {
  color: white;
  text-align: center;
  font-size: 30px; 
}
#footer p {
  font-size: 25px;
	font-family:'Anton', sans serif;
  color: white;
}
#footer a:hover {
  color: black;
}

#container {
	font-style: 'Anton', sans serif;
	color: white;
}











